
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

img {
    max-width: 100%;
    display: block;
}

/* iframe {
    width: 100%;
} */

a {
    text-decoration: none;
}

nav {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.menu {
    display: flex; 
}

.menu a {
    color:  rgb(77, 72, 72);
    padding: 14px 16px;
    text-align: center;
    }

.menu a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px;
}

header {
    padding: 60px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(162, 177, 114), yellow);
    color: rgb(88, 99, 129);  
    margin-bottom: 20px;
}

header pre {
    padding: 10px;
    line-height: 2rem;
    font-size: 1.2rem;
}

header h1 {
    font-size: 3rem;
}


/* Layout flexbox */
.layout-flex {
    display: flex;
    flex-wrap: wrap;
}

.layout-flex > div {
    flex: 1 1 200px;
    
    padding: 10px;
} /* Layout flexbox */

/* Layout Grid - modelo 1 */

h2 {
    padding: 60px;
    text-align: center;
    background: rgb(47, 48, 126);
    color: rgb(88, 99, 129);
    margin-bottom: 20px;
}

.layout-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 10px;
}

.layout-grid > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.layout-grid > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    border-top: solid 10px gray;
    display: block;
}

@media only screen and (max-width: 600px) {
    .layout-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .layout-grid > div:nth-child(n + 4) {
        display: block;
    }

    .layout-grid > div.anuncio {
        grid-column: auto;
        grid-row: auto;
    }
} /* Layout Grid - modelo 1 */


/* Layout Grid - modelo 2 */

.layout-grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.principal {
    width: 560px; 
    height: 315px;
}


aside > div {
    margin-bottom: 10px;
}


@media only screen and (max-width:1000px) {
    .layout-grid2 {
        grid-template-columns: 1fr;
    }

    aside {
        display: flex;
        overflow: scroll;
    }

    aside > div {
        flex: 1 1 400px;
        margin: 0 10px;
    }

    .video {
        text-align: center;
    }
}


@media only screen and (max-width:626px) {

    .layout-grid{
        grid-template-columns: 1fr;
    }

    .layout-flex {
        display: flex;
        flex-direction: column;
    }



    .video > iframe {
        width: 100%;
    }
} /* Layout Grid - modelo 2 */



/* Layout Grid - modelo 3 */

.layout-grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ddd;
}

.layout-grid3-itens:nth-child(1) {
    grid-row: 1 / 3;
}

.layout-grid3-itens {
    display: grid;
}


.layout-grid3-itens img {
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}

.layout-grid3-itens p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}


@media only screen and (max-width:626px) {
    .layout-grid3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}













